<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title x-build
  body
    #load.transition-loader
      .transition-loader-inner
        i
        i
        i
        i
        i
        i
    #xl-wrapper.wrapper
      img(data-src=require("./assets/images/1.jpg") data-priority)
      img(data-src=require("./assets/images/2.jpg") data-priority)
      img(data-src=require("./assets/images/3.jpg"))
      img(data-src=require("./assets/images/4.jpg"))
      img(data-src=require("./assets/images/5.jpg"))
      img(data-src=require("./assets/images/6.jpg"))
      img(data-src=require("./assets/images/7.jpg"))
      img(data-src=require("./assets/images/8.jpg"))
      img(data-src=require("./assets/images/9.jpg"))
      img(data-src=require("./assets/images/10.jpg"))
      